
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#django
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

#py
./TweetMap/**/*.pyc
./TweetMap/**/*.pyo
./TweetMap/**/*.json

#Pycharm
./.idea
