<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>


    <div id="map"></div>
    <script type="text/javascript">
      function initMap() {
          var bounds = new google.maps.LatLngBounds();
          var map = new google.maps.Map(document.getElementById('map'));

          function Marker(lat, longi, title) {
              var pos = new google.maps.LatLng(lat, longi);
              var marker = new google.maps.Marker({
                  position: pos,
                  map: map,

              });
              bounds.extend(position);
          }

      map.fitBounds(bounds);
      }
    </script>
    {% for tweet in tweets %}
      Marker({{ tweet.lat }}, {{ tweet.longi }}, "{{ tweet.title }}");
    {% endfor %}
    google.maps.event.addDomListener(window, 'load', initialize);
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBMoblZSN1LRrImUEIM7YHpYePTy-oCpk&callback=initMap">
    </script>
  </body>
</html>